<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs">
  				<li class=
  				{% if page == "myres" %}
  					active
  				{% endif %}
  				><a id="myrestab" href="?page=myres">My Reservations</a></li>
  				{% if userclicked != "yes" %}
  					<li class=
  					{% if page == "allres" %}
  						active
  					{% endif %}
  					><a href="?page=allres">All Resources</a></li>
  				{% endif %}
  				<li class=
  				{% if page == "myreso" %}
  					active
  				{% endif %}
  				><a id="myresotab" href="?page=myreso">My Resources</a></li>
  				{% if userclicked != "yes" %}
  					<li class=
  					{% if page == "createres" %}
  						active
  					{% endif %}
  					><a href="?page=createres">Create Resource</a></li>
  				{% endif %}
  				{% if userclicked == "yes" %}
  					<li><a href="/">Home</a></li>
  				{% endif %}
			</ul>
			<script>
				{% if userclicked == "yes" %}
					document.getElementById('myrestab').innerHTML="Reservations";
					document.getElementById('myrestab').href="?userclicked=yes&user_email={{user.email()}}&page=myres";
					document.getElementById('myresotab').innerHTML="Resources";
					document.getElementById('myresotab').href="?userclicked=yes&user_email={{user.email()}}&page=myreso";
				{% endif %}
			</script>
		
		</div>
		<span id="rightal">
     	   	<form id="search" action="/search" method="post">
            	Search:
            	<input id="searchbox" type="text" name="resName" value="Resource Name" onclick="clearBox()">
            	<script>
                	var clearBox=function() {
                    	document.getElementById('searchbox').value="";
                	} 
            	</script>
        	</form> 
    	</span>
		<a href="{{url|safe}}">{{ url_linktext }}</a>
		<br>
    	<hr>
    	<br>
		
		<div class="leaveMargin">
			{% if page == "createres" %}
			<h2><u>Create Resource:</u></h2>
			<br><br>
				<form id="createres-form" action="/createres" method="post" onsubmit="return validate()">
					Resource Name: <input type="text" name="resourceName" required>
					<br>
					<br>
					<p id="errorDate" style="display: none; color: red">The entered date-start time combination is smaller than current date. It should be greater!</p>
					Date:&nbsp;&nbsp;&nbsp;&nbsp;mm:
					<select name="month" id="month">
						{% for option in range(1,13) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp; - dd:
					<select name="day" id="day">
						{% for option in range(1,31) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp; - yyyy:	
					<select name="year" id="year">
						{% for option in range(curryear,curryear+100) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<br>
					<br>
					Start Time:&nbsp;&nbsp;&nbsp;&nbsp;HH: 
					<select name="startHours" id="strthr">
						{% for option in range(1,13) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp; MM:
					<select name="startMinutes" id="strtmin">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp; SS:
					<select name="startSeconds" id="strtsec">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp;
					<select name="startMorEve" id="strtampm">
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>
					<br>
					<br>
					<p id="errorTime" style="display: none; color:red">The entered end time is smaller than start time. It should be greater!</p>
					End Time:&nbsp;&nbsp;&nbsp;&nbsp;HH:
					<select name="endHours" id="endhr">
						{% for option in range(1,13) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp; MM:
					<select name="endMinutes" id="endmin">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp; SS:
					<select name="endSeconds" id="endsec">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					&nbsp;
					<select name="endMorEve" id="endampm">
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>
					<br>
					<br>
					<span>Enter tags (; separated): </span>
					<input type="text" id="tags" name="tags">
					<br>
					<br>
					<input type="submit" value="Create Resource">
				</form>
				<script type="text/javascript">
					var validate=function(){
						var currentDate = new Date();
						var month = document.getElementById('month').value;
						var day = document.getElementById('day').value;
						var year = document.getElementById('year').value;
						var strtampm = document.getElementById('strtampm').value;
						var endampm = document.getElementById('endampm').value;
						var strthr = document.getElementById('strthr').value;
						strthrInt = parseInt(strthr);
						if(strtampm == "PM" && strthrInt != 12) {
							strthrInt += 12;
						}
						var strtmin = document.getElementById('strtmin').value;
						var strtsec = document.getElementById('strtsec').value;
						var selectedstrtDate = year+'-'+month+'-'+day+' '+strthrInt+':'+strtmin+':'+strtsec;
						var selstrtDate = new Date(selectedstrtDate);
						
						var endhr = document.getElementById('endhr').value;
						endhrInt = parseInt(endhr);
						if(endampm == "PM" && endhrInt != 12) {
							endhrInt += 12;
						}
						var endmin = document.getElementById('endmin').value;
						var endsec = document.getElementById('endsec').value;
						var selectedendDate = year+'-'+month+'-'+day+' '+endhrInt+':'+endmin+':'+endsec;
						var selendDate = new Date(selectedendDate);

						if(selstrtDate < currentDate) {
							document.getElementById('errorDate').style.display="block";
							if(selendDate < selstrtDate) {
							document.getElementById('errorTime').style.display="block";
							}
							return false;
							
						} 
						else {
							if(selendDate < selstrtDate) {
							document.getElementById('errorTime').style.display="block";
							return false;
							} else {
								document.getElementById('createres-form').submit();
							} 
						}
					}
				</script>
			{% endif %}
			<div class="leftal">
			{% if page == "allres" %}
				<div class="divTable">
             		<div class="rowHeading">
                		<div class="headCol" align="center">Resource Name</div>
                		<div  class="headCol" align="center">Owner Email</div>
                		<div class="headCol" align="center">Start Time</div>
                		<div class="headCol" align="center">End Time</div>
                		<div class="headCol" align="center">Total Reservations</div>
                		<div class="headCol" align="center">Tags</div>
                		<div class="headCol" align="center">RSS Link</div>
             		</div>
            	
                {% for resource in allresources %}
					<div class="divRow">
                  		<div class="divCell" align="center">
                  		<form id='form-{{resource.UUID}}'action="/resourcePage" method="GET">
                  		<input type="hidden" name="UUID" value={{resource.UUID}}>
                  		<a href="#" onclick="document.getElementById('form-{{resource.UUID}}').submit()">{{resource.name}}</a></form>
                  		</div>
                		<div class="divCell" align="center"><form id='formuser-{{resource.UUID}}'action="/" method="GET">
                  		<input type="hidden" name="userclicked" value="yes">
                  		<input type="hidden" name="user_email" value="{{resource.owner.email}}">
                  		<a href="#" onclick="document.getElementById('formuser-{{resource.UUID}}').submit()">{{resource.owner.email}}</a></form></div>
                		<div class="divCell" align="center">{{resource.startTime}}</div>
                		<div class="divCell" align="center">{{resource.endTime}}</div>
                		<div class="divCell" align="center">{{resource.reservation_Num}}</div>
                		<div class="divCell" align="center">
                		{% for tag in resource.tags %}
                			<a href="/tag?tag={{tag}}">{{tag}};</a>
                  		{% endfor %}
                  		</div>
                  		<div class="divCell" align="center"> <a href="/rss?resource_UUID={{resource.UUID}}">rss</a> </div>
            		</div>
				{% endfor %}
				</div>
			{% endif %}

			{% if page == "myreso" %}
				<div class="divTable">
             		<div class="rowHeading">
                		<div class="headCol" align="center">Resource Name</div>
                		<div class="headCol" align="center">Start Time</div>
                		<div class="headCol" align="center">End Time</div>
                		<div class="headCol" align="center">Total Reservations</div>
                		<div class="headCol" align="center">Tags</div>
                		<div class="headCol" align="center">RSS Link</div>
                	</div>
            		
                {% for resource in allresources %}
					{% if resource.owner.email == user.email() %}	
						<div class="divRow">
                  			<div class="divCell" align="center"><form id='form-{{resource.UUID}}'action="/resourcePage" method="GET">
                  			<input type="hidden" name="UUID" value={{resource.UUID}}>
                  			<a href="#" onclick="document.getElementById('form-{{resource.UUID}}').submit()">{{resource.name}}</a></form></div>
                			<div class="divCell" align="center">{{resource.startTime}}</div>
                			<div class="divCell" align="center">{{resource.endTime}}</div>
            				<div class="divCell" align="center">{{resource.reservation_Num}}</div>
                  			<div class="divCell" align="center">
                				{% for tag in resource.tags %}
                					<a href="/tag?tag={{tag}}">{{tag}};</a>
                  				{% endfor %}
                  			</div>
                  			<div class="divCell" align="center"> <a href="/rss?resource_UUID={{resource.UUID}}">rss</a> </div>
                  		</div>
            		{% endif %}
				{% endfor %}
				</div>
			{% endif %}

			{% if page == "myres" %}
				<div class="divTable">
             		<div class="rowHeading">
                		<div class="headCol" align="center">Resource Name</div>
                		<div class="headCol" align="center">Start Time</div>
                		<div class="headCol" align="center">Duration</div>
                		<div class="headCol" align="center">Tags</div>
                	</div>
            		
                {% for reservation in allreservations %}
					{% if reservation.user.email == user.email() %}
						<div class="divRow" id="resrow{{reservation.UUID}}">
                  			<div class="divCell" align="center"><form id='form-{{reservation.resource_UUID}}'action="/resourcePage" method="GET">
                  		<input type="hidden" name="UUID" value={{reservation.resource_UUID}}>
                  		<a href="#" onclick="document.getElementById('form-{{reservation.resource_UUID}}').submit()">{{reservation.resource_name}}</a></form></div>
                			<div class="divCell" align="center">{{reservation.startTime}}</div>
                			<div class="divCell" align="center">{{reservation.duration}}</div>
                			<div class="divCell" align="center">
                				{% for resource in allresources %}
                					{% if resource.UUID == reservation.resource_UUID %}
                						{% for tag in resource.tags %}
                							<a href="/tag?tag={{tag}}">{{tag}};</a>
                  						{% endfor %}
                					{% endif %}
                				{% endfor %}	
                  			</div>
                  		</div>
            		{% endif %}
            		<script>
            			var currtime = new Date();
            			var startTime = new Date("{{reservation.startTime}}");
            			var duration = "{{reservation.duration}}";
            			var durationarr = duration.split(":");
            			var durHours = durationarr[0];
						var durMins = durationarr[1];
						var durSecs = durationarr[2];
						var durMinsInt = parseInt(durMins);
						durMinsInt += (parseInt(durHours) * 60);
						if(parseInt(durSecs)!=0) {
							durMinsInt += (parseInt(durSecs) / 60);
						}
						var selEndDateTime = new Date(startTime.getTime() + durMinsInt * 60000);
						if(selEndDateTime < currtime) {
							document.getElementById('resrow{{reservation.UUID}}').style.display="none";
						}
            		</script>
				{% endfor %}
				</div>
			{% endif %}
		</div>
		</div>
	</body>
</html>
{% endautoescape %}

