<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
	<div class="container">
  		<ul class="nav nav-tabs">
  			<li class=
  				{% if page == "currres" %}
  					active
  				{% endif %}
  				><a href="?page=currres&UUID={{resource.UUID}}">Current Reservations</a></li>
  			<li class=
  				{% if page == "res" %}
  					active
  				{% endif %}
  				><a href="?page=res&UUID={{resource.UUID}}">Reserve</a></li>
  			{% if user.user_id() == resource.owner.identity %} 
  				<li class=
  					{% if page == "edit" %}
  						active
  					{% endif %}
  				><a href="?page=edit&UUID={{resource.UUID}}">Edit</a></li>
  			{% endif %}
  			<li><a href="/">Home</a></li>
  		</ul>
		<a href="{{url|safe}}">{{ url_linktext }}</a>
	</div>
	<div class="leaveMargin">
		{% if page == "res" %}
			<form action="/reserve" id="reserve-form" method="post" onsubmit="return validate()">
				Available Times (start-hours:start-minutes:start-seconds - end-hours:end-minutes:end-seconds):
				<span id="AvailTimes"></span> 
				
				<br>
				Resource Name: {{resource.name}}
				<br>
				Date: {{resource_date}}
				<br>
				<p id="errorTime" style="display: none; color: red">Please enter the start time and duration as per the listed available times!</p>
				<input type="hidden" name="resource_UUID" value={{resource.UUID}}>
				<input type="hidden" id="resource_date" name="resource_date" value={{resource_date}}>
				<input type="hidden" name="resource_name" value={{resource.name}}>
				Start Time: <select name="startHours" id="strthrs">
					{% for option in range(1,13) %}
						<option value={{option}}>{{option}}</option>
					{% endfor %}
				</select>
				<select name="startMinutes" id="strtmins">
					{% for option in range(60) %}
						<option value={{option}}>{{option}}</option>
					{% endfor %}
				</select>
				<select name="startSeconds" id="strtsecs">
					{% for option in range(60) %}
						<option value={{option}}>{{option}}</option>
					{% endfor %}
				</select>
				<select name="startMorEve" id="strtampm">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select>
				<br>
				<p id="durError" style="display: none; color: red">Duration cannot be zero!</p>
				Duration: <select name="durHours" id="durHours">
					{% for option in range(13) %}
						<option value={{option}}>{{option}}</option>
					{% endfor %}
				</select>
				<select name="durMinutes" id="durMins">
					{% for option in range(60) %}
						<option value={{option}}>{{option}}</option>
					{% endfor %}
				</select>
				<select name="durSeconds" id="durSecs">
					{% for option in range(60) %}
						<option value={{option}}>{{option}}</option>
					{% endfor %}
				</select>
				<br>
				<script>
					var availtable = "<div class=divTable><div class=divRow>"
					var currTime = new Date();
					var startDate = "{{resource_date}}"+' '+"0:0:0";
					var startDateTime1 = new Date(startDate);
					var currHours = currTime.getHours();
					var currampm="AM";
					if(currHours > 12) {
						currHours -= 12;
						currampm = "PM";
					}
						
					{% for timeTuple in available_times %}
						var startTime = "{{resource_date}}"+' '+"{{timeTuple[0]}}";
						var startDateTime = new Date(startTime);
						var endTime = "{{resource_date}}"+' '+"{{timeTuple[1]}}";
						var endDateTime = new Date(endTime);
						var startampm="AM";
						var endampm="AM";
						var startHours = startDateTime.getHours();
						var endHours = endDateTime.getHours();
						if(startHours > 12) {
							startHours -= 12;
							startampm = "PM";
						}
						if(endHours > 12) {
							endHours -= 12;
							endampm = "PM";
						}
						if(startDateTime < currTime) {
							if(endDateTime < currTime) {
								{{continue}}
							} else {
								
								availtable+="<div class=divCell align=center> "+currHours+":"+currTime.getMinutes()+":"+currTime.getSeconds()+" "+currampm+" - "+endHours+":"+endDateTime.getMinutes()+":"+endDateTime.getSeconds()+" "+endampm+" </div>";
							}
						} else {
							availtable+="<div class=divCell align=center> "+startHours+":"+startDateTime.getMinutes()+":"+startDateTime.getSeconds()+" "+startampm+" - "+endHours+":"+endDateTime.getMinutes()+":"+endDateTime.getSeconds()+" "+endampm+"</div> ";
						}	
					{% endfor %}
					availtable+="</div></div>";
					document.getElementById('AvailTimes').innerHTML = availtable;
								
					if(startDateTime1.getMonth() == currTime.getMonth() && startDateTime1.getDate() == currTime.getDate() && startDateTime1.getFullYear() == currTime.getFullYear()) {
						document.getElementById('strthrs').value = currHours;
						document.getElementById('strtmins').value = currTime.getMinutes();
						document.getElementById('strtsecs').value = currTime.getSeconds();
						document.getElementById('strtampm').value = currampm;
					}
				</script>
				<input type="submit" value="reserve">
			</form>
			<script type="text/javascript">
					var validate=function(){
						var strthrs = document.getElementById('strthrs').value;
						var strtmins = document.getElementById('strtmins').value;
						var strtsecs = document.getElementById('strtsecs').value;
						var strtampm = document.getElementById('strtampm').value;
						var strthrsInt = parseInt(strthrs);
						if(strtampm == "PM"){
							strthrsInt += 12;
						}
						var date = document.getElementById('resource_date').value;
						var date1=date.split('/').join('-');
						var selectedStartTime = date1+' '+strthrsInt+":"+strtmins+":"+strtsecs;
						var selStartDateTime = new Date(selectedStartTime);
						var durHours = document.getElementById('durHours').value;
						var durMins = document.getElementById('durMins').value;
						var durSecs = document.getElementById('durSecs').value;
						var durMinsInt = parseInt(durMins)
						if(parseInt(durHours)==0 && parseInt(durMins)==0 && parseInt(durSecs)==0) {
							document.getElementById('durError').style.display="block";
							durMinsInt += (parseInt(durHours) * 60) + (parseInt(durSecs) / 60);
						}
						var selEndDateTime = new Date(selStartDateTime.getTime() + durMinsInt * 60000);
						var flag=false;
						{% for timeTuple in available_times %}
							var startDateAv = date1 + ' ' + "{{timeTuple[0]}}";
							var endDateAv = date1 + ' ' + "{{timeTuple[1]}}";
							var startDateAvail = new Date(startDateAv);
							var endDateAvail = new Date(endDateAv);
							var currTime = new Date();
							if(startDateAvail < currTime && endDateAvail < currTime) {
								{{continue}}
							} 
							if(startDateAvail < currTime) {
								startDateAvail = currTime;
							}
							if(selStartDateTime >= startDateAvail && selEndDateTime <= endDateAvail) {
								flag = true;
							}
						{% endfor %} 
						if(flag == false) {
							document.getElementById('errorTime').style.display="block";
						} else {
							return true;
						}
						return false;
					}
				</script>
		{% endif %}

		{% if page == "edit" %}
				<form id="editres-form" action="/editres" method="post" onsubmit="return validate()">
					<input type="hidden" name="UUID" value="{{resource.UUID}}">
					Resource Name: <input type="text" name="resourceName" value="{{resource.name}}" required>
					<br>
					<br>
					<p id="errorDate" style="display: none; color: red">The entered date-start time combination is smaller than current date. It should be greater!</p>
					Date: 
					
					<select name="month" id="month">
						{% for option in range(1,13) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>

					<select name="day" id="day">
						{% for option in range(1,31) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
						
					<select name="year" id="year">
						{% for option in range(curryear,curryear+100) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<br>
					<br>
					Start Time: <select name="startHours" id="strthr">
						{% for option in range(1,13) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<select name="startMinutes" id="strtmin">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<select name="startSeconds" id="strtsec">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<select name="startMorEve" id="strtampm">
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>
					<br>
					<br>
					<p id="errorTime" style="display: none; color:red">The entered end time is smaller than start time. It should be greater!</p>
					End Time: <select name="endHours" id="endhr">
						{% for option in range(1,13) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<select name="endMinutes" id="endmin">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<select name="endSeconds" id="endsec">
						{% for option in range(60) %}
							<option value={{option}}>{{option}}</option>
						{% endfor %}
					</select>
					<select name="endMorEve" id="endampm">
						<option value="AM">AM</option>
						<option value="PM">PM</option>
					</select>
					<br>
					<br>
					<input type="text" name="tags" value="Enter tags ; separated">
					<br>
					<script>
						var startTime = "{{resource.startTime}}";
						var endTime = "{{resource.endTime}}";
						var startDateTime = new Date(startTime);
						var endDateTime = new Date(endTime);
						document.getElementById('month').value=endDateTime.getMonth() + 1;
						document.getElementById('day').value=endDateTime.getDate();
						document.getElementById('year').value=endDateTime.getFullYear();
						var startHours = startDateTime.getHours();
						var strtampm = "AM";
						if(startHours > 12) {
							startHours -= 12;
							strtampm = "PM";
						}
						document.getElementById('strthr').value=startHours;
						document.getElementById('strtmin').value=startDateTime.getMinutes();
						document.getElementById('strtsec').value=startDateTime.getSeconds();
						document.getElementById('strtampm').value=strtampm;

						var endHours = endDateTime.getHours();
						var endampm = "AM";
						if(endHours > 12) {
							endHours -= 12;
							endampm = "PM";
						}
						document.getElementById('endhr').value=endHours;
						document.getElementById('endmin').value=endDateTime.getMinutes();
						document.getElementById('endsec').value=endDateTime.getSeconds();
						document.getElementById('endampm').value=endampm;
					</script>
					<input type="submit" value="create">
				</form>
				<script type="text/javascript">
					var validate=function(){
						var currentDate = new Date();
						var month = document.getElementById('month').value;
						var day = document.getElementById('day').value;
						var year = document.getElementById('year').value;
						var strtampm = document.getElementById('strtampm').value;
						var endampm = document.getElementById('endampm').value;
						var strthr = document.getElementById('strthr').value;
						console.log(strtampm);
						strthrInt = parseInt(strthr);
						if(strtampm == "PM") {
							strthrInt += 12;
						}
						//strthr = strthrInt;
						console.log(strthrInt);
						var strtmin = document.getElementById('strtmin').value;
						var strtsec = document.getElementById('strtsec').value;
						var selectedstrtDate = year+'-'+month+'-'+day+' '+strthrInt+':'+strtmin+':'+strtsec;
						var selstrtDate = new Date(selectedstrtDate);
						
						var endhr = document.getElementById('endhr').value;
						console.log(endampm);
						endhrInt = parseInt(endhr);
						if(endampm == "PM") {
							endhrInt += 12;
						}
						var endmin = document.getElementById('endmin').value;
						var endsec = document.getElementById('endsec').value;
						var selectedendDate = year+'-'+month+'-'+day+' '+endhrInt+':'+endmin+':'+endsec;
						var selendDate = new Date(selectedendDate);

						if(selstrtDate < currentDate) {
							document.getElementById('errorDate').style.display="block";
							if(selendDate < selstrtDate) {
							document.getElementById('errorTime').style.display="block";
							}
							return false;
							
						} 
						else {
							if(selendDate < selstrtDate) {
							document.getElementById('errorTime').style.display="block";
							return false;
							} else {
								document.getElementById('editres-form').submit();
							} 
						}
					}
				</script>
			{% endif %}
	</div>
</body>
</html>
{% endautoescape %}